{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-8 col-sm-8">
                            <h2 class="card-title">Full Name: {{ user.first_name }} {{ user.last_name }}</h2>
                            <p class="card-text"><strong>Email: </strong> {{ user.email }} </p>
                            <p class="card-text"><strong>Date of Birth: </strong> {{ user.profile.birth_date }} </p>
                            <p><strong>Bio: </strong>{{ user.profile.bio }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}