{% extends 'base.html' %}

{% block title %}See you!{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 center-block">
                <h2 class="carousel">Logged out succesfully</h2>
                <p><a href="{% url 'login' %}" class="btn">Log in</a>again.</p>
            </div>
        </div>
    </div>
{% endblock %}
