.sidebar{
    position: fixed;
    top:0;
    bottom: 0;
}
[type="checkbox"] {
  position: absolute;
  left: -9999px;
}
label {
  /*background: #e4e3df;*/
  display: block;
  width: 20%;
  height: 50px;
  cursor: pointer;
  position: absolute;
  top: 0;
  margin-top: -20px;
}
label:before,
label:after {
  position: absolute;
}

label:before {
  content: 'Show comments';
  left: 10px;
  color: darkblue;
}

label:after {
  content: '⇣●';
  right: -10px;
  animation: sudo .85s linear infinite alternate;
}

@keyframes sudo {
  from {
    transform: translateY(-2px);
  }
  to {
    transform: translateY(2px);
  }
}
[type="checkbox"] ~div {
  display: none;
}
[type="checkbox"]:checked ~div {
  display: flex;
}
[type="checkbox"]:checked + label {
  top: 100%;
}
[type="checkbox"]:checked + label:before {
  content: 'Hide Comments';
  color: darkblue;
  margin-top: 20px;
}

[type="checkbox"]:checked + label:after {
  content: '⇡●';
  right: 0px;
  margin-top: 20px;
}
.show_hide {
  position: relative;
  height: auto;
}
.pagination{
    margin-top: 30px;
}