{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Login{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block content %}

<div class="container">

    <div class="row">
        <!-- Post Content Column -->
        {% for article in articles %}
        <div class="col-lg-8">
            <!-- Title -->
            <h1 class="mt-4">{{ article.title }}</h1>
            <!-- Author -->
            <p class="lead">
            by
            <a href="#">{{ article.user.username }}</a>
            </p>
            <hr>
            <!-- Date/Time -->
            <p>Posted on {{ article.created_at }}</p>
            <hr>
            <p> {{ article.description }}</p>
            <hr>
            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form action="{% url 'comment_create' pk=article.pk %}" method="post">
                        <div class="form-group">
                            {% csrf_token %}
                          <input type="text" class="form-control" name="comment">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <div class="show_hide">
                <input type="checkbox" id="check_id">
                <label for="check_id"></label>
                {% for comment in article.comment_set.all %}

                <!-- Single Comment -->
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">{{ comment.user.username }}</h5>
                        {{ comment.comment }}
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        {% endfor %}

        <!-- Sidebar Widgets Column -->
        <div class="col-lg-4" style="position:fixed;top:6%;left: 65%">

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
            <!-- Recent Posts -->
            <div class="card my-4">
                <h5 class="card-header">Recent Posts</h5>
                {% for article in recent_articles %}
                <div class="card-body">
                    <ul>
                        <li><a>{{ article.title }}</a> <p>{{ article.created_at }}</p></li>
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
    <!--/pagination -->
    <div class="row">
        <div class="col-lg-6">
            <div class="pagination">
                <span class="step-links">
                    {% if articles.has_previous %}
                        <a href="?page={{ articles.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
                    </span>

                    {% if articles.has_next %}
                        <a href="?page={{ articles.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>

        </div>
    </div>
    <!-- /.row -->
</div>
    <!-- /.container -->
{% endblock %}
