{% extends 'base.html' %}
{% block content %}
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">
            <a class="btn btn-primary" href="{% url 'article_create' %}">Create</a>
          <!-- Title -->
           {% for article in articles %}
          <h1 class="mt-4">{{ article.title }}</h1>
          <!-- Author -->
          <p class="lead">
            by
            <a href="#">{{ article.user.username }}</a>
          </p>

          <hr>

          <!-- Date/Time -->
          <p>Posted on {{ article.created_at }}</p>

          <hr>

          <!-- Preview Image -->
{#          <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">#}
{##}
{#          <hr>#}

          <!-- Post Content -->
               <p> {{ article.description }}</p>
          <hr>
           <h3 class="mt-4">Comments</h3>
           <hr>
            {% for comment in article.comment_set.all %}

          <!-- Single Comment -->
          <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0">{{ comment.user.username }}</h5>
              {{ comment.comment }}
            </div>
          </div>
                {% endfor %}
            {% endfor %}

        </div>



{% endblock %}