{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <form method="post">
                    <div class="form-group">
                                             {% csrf_token %}
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title">
                    </div>
                    <div class="form-group">
                    <label for="description">Description</label>
                    {% csrf_token %}
                    <textarea type="text" class="form-control" id="description" name="description" rows="7"></textarea>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}